/*
Fonts:
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
----
Colors:
Gulur: #FAA20E
Appelsínugulur: #E7833B
Svartgrár: #4F4F4F
Blár: #3D6390
Rauður: ##E84B33
Dökk brúnn: #220D0B
*/


.ir-title {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.ir-subtitle {
	font-family: 'Roboto Condensed', sans-serif;
}

/*--- MYNDA/VIDEO BANNER ---*/
.ir-about-banner {
  position: relative;
	background-image: url(../img/rougeone-image4.jpg);
	min-height: 686px;
	width: 100%;
	background-size: cover;
	background-color: #06aec0;
	background-position: 50% 40%;
	z-index: -1;
	
}
/*---SKÁ LÍNA---*/
.ir-about-banner:after {
	content: '';
  position: absolute;
  width: 100%;
	height: 250px;
	top: 600px;
	left: 0;
  bottom: 0;
	overflow: visible;
  background: #FAFAFA;
	-webkit-transform: skewY(-5.5deg); 
	-moz-transform: skewY(-5.5deg);
	-ms-transform: skewY(-5.5deg);
	-o-transform: skewY(-5.5deg);
	transform: skewY(-5.5deg);
  -webkit-backface-visibility: hidden;
	backface-visibility: initial;
	
}

.logo,
.logo-leit {
	opacity: 0.7;
}

/*--- FONT ---*/

.ir-movie-details {
	font-family: 'Roboto Condensed', sans-serif;
}

.ir-plot,
.ir-storyline h2,
.ir-cast h2,
.ir-stills h2,
.ir-related h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
}
	
.ir-storyline p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 2rem;
}

.ir-poster {
		position: relative;
		bottom: 30vh;
	}

.ir-poster img {
		width: 100%;
		height: auto;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}




/*---MOBILE---*/

@media all and (max-width: 600px) {
	
	.ir-about-banner {
		min-height: 320px;
	}
	
	.ir-about-banner:after {
		height: 150px;
		top: 290px;
		-webkit-transform: skewY(-7deg); 
		-moz-transform: skewY(-7deg);
		-ms-transform: skewY(-7deg);
		-o-transform: skewY(-7deg);
		transform: skewY(-7deg);
	}
	
	.ir-poster {
		position: relative;
		bottom: 7vh;
	}
	
	.ir-poster img {
		width: 100%;
		height: auto;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	
	.ir-of-ten {
		display: none;
	}
	
	.ir-rate-bubble {
		position: absolute;
    right: 10vw;
    bottom: 69.5vh;
    width: 50px;
    height: 50px;
    background: #E7833B ;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
	}

	.ir-rating {
		font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 6px;
	}
	
	.ir-year,
	.ir-duration {
		font-family: 'Roboto Condensed', sans-serif;
	}
	
	.ir-year h5,
	.ir-duration h5 {
		line-height: 0;
		font-size: 15px;
		color: #3D6390;
		font-weight: 600;
	}
	
	.ir-year p,
	.ir-duration p{
		font-size: 12px;
	}
	
	.ir-director,
	.ir-writer {
		font-size: 13px;
	}
	
	.ir-storyline h2,
	.ir-cast h2,
	.ir-stills h2,
	.ir-related h2 {
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
	}
	
	.ir-plot {
		display: none;
	}
	
	.ir-storyline p {
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 15px;
		line-height: 2rem;
	}
	


/*VideoSlider*/
	.superslider {
		padding-bottom: 50px;
	}
}