.hk-footer {
	background: linear-gradient(#FAA20E, #E7833B);
	height: 250px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.footerlogo {
	width: 10%;
	margin: 35px 0px;
}

.centerlinks {
	font-family: "Oswald", sans-serif;
	font-weight: 100;
	font-size: 20px;
}

.centerlinks a {
	color: #fff;
	padding: 0px 15px;
}

.copyright {
	padding: 10px 0;
}

@media all and (max-width: 600px) {

	.hk-footer {
		
	}
	
	.footerlogo {
		width: 30%;
	}
	
}


