
.rating-slider, .year-slider, .ui-slider-tip {
    visibility: visible;
    opacity: 1;
}

.rating-slider.ui-slider{
	height: 10px;
}

.rating-slider, .year-slider, .ui-slider-pips {
	 
}
.rating-slider, .year-slider, .ui-slider-float {
	
}
.rating-slider, .year-slider, .ui-slider-handle {
	border: 1px;
}
.rating-slider, .year-slider, .ui-slider-tip {
	display: block;
	visibility: visible;
}
.rating-slider, .year-slider, .ui-slider-pip {
	
}
.rating-slider, .year-slider, .ui-slider-pip-nth {
	
}
.rating-slider, .year-slider, .ui-slider-line {
	
}
.rating-slider, .year-slider, .ui-slider-label {
	
}
.rating-slider, .year-slider, .ui-slider-tip-label {
	
}
.rating-slider, .year-slider, .ui-slider-pip-hide {
	
}
.rating-slider, .year-slider, .ui-slider-pip-last {
	
}
.rating-slider, .year-slider, .ui-slider-pip-first {
	
}
.rating-slider, .year-slider, .ui-slider-pip-label {
	
}
.rating-slider, .year-slider, .ui-slider-pip-inrange {
	
}
.rating-slider, .year-slider, .ui-slider-pip-initial {
	
}
.rating-slider, .year-slider, .ui-slider-pip-selected {
	
}
.rating-slider, .year-slider, .ui-slider-pip-initial-nth {
	
}
.rating-slider, .year-slider, .ui-slider-pip-selected-nth {
	
}

