


#coloredSlider {
	float: left;
	clear: left;
	width: 1050px;
	margin: 15px;
}
#coloredSlider .ui-slider-range { 
	background: #FAA20E;
}

#coloredSlider .ui-state-default, .ui-widget-content .ui-state-default {
	background: none;
	background-color: #FAA20E;
	width: 65px;
	height: 65px;
	background: #FAA20E;

	border-style: solid;
    border-width: 10px;
    border-color: #FAE0B3;

	margin-top: -20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


.ui-slider-tip {
	margin-top: -15px;
	font-size: 16px;
}



.search-slider-rating h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #4F4F4F;
	padding-bottom: 25px;
}


.search-slider-year h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #4F4F4F;
	padding-top: 100px;
	padding-bottom: 25px;
}


.genre h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #4F4F4F;
	padding-top: 100px;
	padding-bottom: 25px;
}


.rating-slider, .year-slider, .ui-slider-tip {
    visibility: visible;
    opacity: 1;


}

.rating-slider.ui-slider{
	height: 10px;

}



.shape {
	background: #E84B33;
	border-radius: 30px;
	width: 238px;
	height: 75px;
	float: right;
	margin-right: 30px;
	margin-top: 50px;

}


/*.ui-slider-handle .ui-corner-all .ui-state-default::after {
	background: #E84B33;
	border-radius: 30px;
	width: 30px;
	height: 30px;

	float: right;
	margin-right: 30px;
	margin-top: 50px;

}
*/




.shape h3 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
	color: #fff;
	margin-top: -80px;

}


.rating-slider, .year-slider, .ui-slider-pips {
	 
}
.rating-slider, .year-slider, .ui-slider-float {
	
}
.rating-slider, .year-slider, .ui-slider-handle {
	border: 1px;



}
.rating-slider, .year-slider, .ui-slider-tip {
	display: block;
	visibility: visible;
	
}



.genre {
	width: 192px;
	height: 61px;
	background: #E84B33; 
	border-radius: 20px;
	padding-top: 
}


















.rating-slider, .year-slider, .ui-slider-pip {
	
}
.rating-slider, .year-slider, .ui-slider-pip-nth {

}
.rating-slider, .year-slider, .ui-slider-line {

}
.rating-slider, .year-slider, .ui-slider-label {
	
}
.rating-slider, .year-slider, .ui-slider-tip-label {
	
}
.rating-slider, .year-slider, .ui-slider-pip-hide {
	
}
.rating-slider, .year-slider, .ui-slider-pip-last {

}
.rating-slider, .year-slider, .ui-slider-pip-first {

}
.rating-slider, .year-slider, .ui-slider-pip-label {

}
.rating-slider, .year-slider, .ui-slider-pip-inrange {
	
}
.rating-slider, .year-slider, .ui-slider-pip-initial {
	
}
.rating-slider, .year-slider, .ui-slider-pip-selected {
	
}
.rating-slider, .year-slider, .ui-slider-pip-initial-nth {
	
}
.rating-slider, .year-slider, .ui-slider-pip-selected-nth {
	
}



