/*
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
----
Colors:

Gulur: #FAA20E
Appelsínugulur: #E7833B
Svartgrár: #4F4F4F
Blár: #3D6390
Rauður: ##E84B33
Dökk brúnn: #220D0B
*/


body {
	background-color: #fafafa; 
}

.banner{
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	width: 100%;
}

.banner-h1{
	text-align: center;
	font-size: 72px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.banner-h2{
	text-align: center;
	font-size: 43px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

.logo {
	padding: 20px 0 0 10px;
	width: 130px;
}

.logo-leit {
	float: right;
	width: 51px;
	padding: 35px 0 0 0;
}
 
.container {
	padding: 0 18px 0 18px;
}



h2.popularHeadline  {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	padding: 64px 0px  50px 122px;	
	color: #4F4F4F;
}       

.card {
	position: absolute; 
	background-color: #999; /*muna að breyta lit*/
	width: 345px;
	height: 406px;
	border-style: solid;
	border-radius: 5px;
    border-width: 3px;
    border-color: #fff; /*muna  round corners */
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.card .cardTitle span {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #4F4F4F;
}

.card .undertitle span {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #737373;
}



@media all and (max-width: 600px) {
	
	.banner{
		background: linear-gradient(#FAA20E, #E7833B);
		height: 200px;
		width: 100%;
	}
	
	.banner-h1 {
		font-size: 35px;
		font-weight: 300;
	}
	
	.banner-h2 {
		display: none;
	}
	
	.logo {
		padding: 20px 0 0 0px; 	
		width: 80px;
		}

	.logo-leit {
		float: right;
		width: 30px;
		padding: 35px 0 0 0;
	}
	
	h2.popularHeadline  {
	font-size: 20px;
	padding: 31px 0  11px 21px;
	}

	.card {
	background-color: #999;
	width: 333px;
	height: 214px;
	}
	
	.card .cardTitle span {
		float: right;
		padding: 75px 22px 35px 0px;
	}


	.card .undertitle span {
		float: right;
		padding-top: 170px;
		margin-right: -90px;

	}

---------

.lib-panel {
    margin-bottom: 20Px;



}
.lib-panel img {



}

.lib-panel .row,
.lib-panel .col-md-3 {
    padding: 0;
    background-color: #FFFFFF;



}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;


}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;


}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;


}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;

}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {

    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}




}
