/*
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
----
Colors:

Gulur: #FAA20E
Appelsínugulur: #E7833B
Svartgrár: #4F4F4F
Blár: #3D6390
Rauður: ##E84B33
Dökk brúnn: #220D0B
*/


body {
	background-color: #fafafa; 
	line-height: 1;
	overflow-x: hidden;
}

.container {
	padding: 0 18px 0 18px;
}


/*--Header--*/
.banner{
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	width: 100%;
}

.banner-h1{
	text-align: center;
	font-size: 72px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.banner-h2{
	text-align: center;
	font-size: 43px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

.logo {
	padding: 20px 0 0 10px;
	width: 130px;
}

.logo-leit {
	float: right;
	width: 51px;
	padding: 35px 0 0 0;
}
 

/*---Catagories---*/

.headline {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	padding: 60px 0px 20px 20px;	
	color: #4F4F4F;
}  


/*---Cards---*/
.hk-card {
	height: 400px;
	width: 100%;
	border: 2px solid white;
	box-sizing: border-box;
	box-shadow: 0 2px 8px rgba(0,0,0, .3);
	overflow: hidden;
	position: relative;  
}

.hk-cardTitle h2 {
	line-height: 1.4em;
	z-index: 5;
	bottom: 170px;
	left: 20px;
	font-family: 'Oswald', sans-serif;
	color: #4F4F4F;
	font-size: 28px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	position: relative; /*má ekki breyta þessu*/ 
	text-align: left;
	max-width: 80%; 
}

.hk-undertitle h4 {
	padding: 0;
	z-index: 5;
	font-family: 'Oswald', sans-serif;
	color: #4F4F4F;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	color: #737373;
	left: 1.5em;
	bottom: 1em;
	position: absolute; 
}

.hk-card:after {
	height: 110%;
	/*width: 100px;*/
	/*background-color: rgba(255,255,255,.7);*/
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 200px solid rgba(255,255,255,.8);
	border-left: 100% solid transparent;
	border-right: 100% solid transparent;
	width: 100%; 
}

.hk-ratingCircle {
	position: absolute;
	right: 12px;
	bottom: 12px;
	z-index: 3;
	width: 32px;
	height: 32px;
	background: #E7833B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
	text-align: center;
}

.hk-ratingCircle h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #fff;
	text-align: center;
}


/*VideoSlider*/
.slide-single {
	padding: 0px 15px;
}


/*movie modal */

#movieModal {
	background-color: rgba(0, 0, 0, 0.7);
}

#movieModal img {
	width: 100%;
	height: auto;
}

#movieModal h1 {
	text-align: center;
}
	
#modalContent {
	max-width: 100%;
	height: auto;
}

#modalContent h1 {
	color: #4F4F4F;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
}

#modalContent .hk-ratingCircle {
	position: absolute;
	right: 1.5vw;
	bottom: 3vh;
	z-index: 3;
	width: 50px;
	height: 50px;
	background: #E7833B;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
	text-align: center;
}

#modalContent .hk-ratingCircle h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 0.60em;
	top: 0.2em;
}

#modalContent .hk-undertitle {
	display: none;
}


.superslider  {
	padding-right: 0px;
}




@media all and (max-width: 600px) {

	/*---head---*/
	.banner {
		height: 200px;
		
	}

	.banner-h1 {
		font-size: 35px;
		font-weight: 300;
	}

	.banner-h2 {
		display: none;
	}

	.logo {
		padding: 20px 0 0 0px; 	
		width: 80px;
	}

	.logo-leit {
		float: right;
		width: 30px;
		padding: 35px 0 0 0;
	}



	/*--Cards--*/
	.hk-card {
		background-color: #999;
		max-width: 300px;
		height: 220px;
		position: relative;
	}

	.hk-card:after {
		height: 100%;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-bottom: 214px solid rgba(255,255,255,.8);
		border-left: 100px solid transparent;
		border-right: 100% solid transparent;
		width: 100%; 
	}

	.hk-cardTitle h2 {
		line-height: 1.4em;
		z-index: 5;
		bottom: 200px;
		left: 90px;
		font-family: 'Oswald', sans-serif;
		color: #4F4F4F;
		font-size: 28px;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
		position: relative; /*má ekki breyta þessu*/ 
		text-align: left;
		max-width: 60%;
	}

	.hk-undertitle h4 {
		display: none;
	}

	.hk-ratingCircle {
		width: 32px;
		height: 32px;
		text-align: center;
	}

	.hk-ratingCircle h5 {
		font-size: 13px;
		text-align: center;
	}

	#modalContent {
		align-content: center;
	}

	#modalContent .hk-ratingCircle {
		right: 8vw;
		bottom: 5vh;
	}

}



/*--Svo spjöldin verði ekki of breið--*/
@media only screen  and (min-width : 1824px) {
	
	.hk-card {
		height: 600px;
		max-width: 100%;
	}

	.hk-cardTitle h2 {
		line-height: 1.4em;
		bottom: 150px;
		left: 20px;
		max-width: 80%; 
	}

	.hk-ratingCircle {
		width: 40px;
		height: 40px;
		border-radius: 50px;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.19);
		text-align: center;
	}
	
	.hk-ratingCircle h5 {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		
		text-align: center;
	}



}