/*
Fonts

font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
----
Colors:

Gulur: #FAA20E
Appelsínugulur: #E7833B
Svartgrár: #4F4F4F
Blár: #3D6390
Rauður: ##E84B33
Dökk brúnn: #220D0B
*/

/*--- FORSÍÐA - SPJÖLD ---*/

body {
	background-color: #fafafa; 
}

.banner{
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	width: 100%;
}

.banner-h1{
	text-align: center;
	font-size: 72px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}

.banner-h2{
	text-align: center;
	font-size: 43px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

.logo {
	padding: 20px 0 0 10px;
	width: 130px;
}

.logo-leit {
	float: right;
	width: 51px;
	padding: 35px 0 0 0;
}
 





/*---MOBILE---*/

@media all and (max-width: 600px) {
	
	.banner{
		background: linear-gradient(#FAA20E, #E7833B);
		height: 200px;
		width: 100%;
	}
	
	.banner-h1 {
		font-size: 35px;
		font-weight: 300;
		padding-bottom: 20px;
	}
	
	.banner-h2 {
		display: none;
	}
	
	.logo {
		padding: 20px 0 0 0px; 	
		width: 80px;
		}

	.logo-leit {
		float: right;
		width: 30px;
		padding: 35px 0 0 0;
	}
	
	
	
	
}
